RewriteEngine On

RewriteRule ^(.*)-([0-9]*)a.html(.*?)?$ index.php/article/view/$2$3
RewriteRule ^(.*)-([0-9]*)c.html(.*?)?$ index.php/article/category/$2$3

RewriteRule ^/var/[^/]+/cache/(stylesheets|images|javascripts?)/.* - [L]
RewriteRule !\.(gif|jpe?g|png|bmp|css|js|xml|html|json|ogv|swf|flv|php|ico|eot|svg|ttf|woff)|var(.+)storage.pdf(.+)\.pdf$ index.php

ExpiresActive On
ExpiresDefault A300
ExpiresByType image/x-icon A2592000
ExpiresByType application/x-javascript A3600
ExpiresByType text/css A3600
ExpiresByType image/gif A604800
ExpiresByType image/png A604800
ExpiresByType image/jpeg A604800
ExpiresByType text/plain A300
ExpiresByType application/x-shockwave-flash A604800
ExpiresByType video/x-flv A604800
ExpiresByType application/pdf A604800
ExpiresByType text/html A300

<filesMatch ".(js|css|swf)$">
 Header set Cache-Control "max-age=1592000, public"
</filesMatch>

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript


DirectoryIndex index.php