# Directories
cache/*
cache/cacheconfig/*
cache/compiledtemplates/*
cache/translations/*
cache/userinfo/*
cron/log/*
settings/*
var/*
var/tmpfiles/*
robots.txt
.htaccess
.gitignore

!settings/settings.ini.default.php
!cache/cacheconfig
!cache/compiledtemplates
!cache/translations
!cache/userinfo
!cron/log
!var/tmpfiles
!var/events
!var/media
!var/media_static
!var/storage
!var/eventcategories/2014y/11/06/*
!var/userphoto
!.gitignore