# Directories
cache/*
cache/cacheconfig/*
cache/compiledtemplates/*
cache/translations/*
cache/userinfo/*
cron/log/*
settings/*
extension/*
var/tmpfiles/*
var/userphoto/
robots.txt
.htaccess
.gitignore
composer.lock
composer.json
composer.phar
.project

!extension/mycalendar
!extension/form
!extension/socialcomments
!settings/settings.ini.default.php
!cache/cacheconfig
!cache/compiledtemplates
!cache/translations
!cache/userinfo
!cron/log
!var/tmpfiles
!var/events
!var/media
!var/media_static
!var/storage
!var/eventcategories/2014y/11/06/*
!.gitignore