# Directories
cache/*
cache/cacheconfig/*
cache/compiledtemplates/*
cache/translations/*
cache/userinfo/*
cron/log/*
settings/*
var/*
var/autoloads/*
var/tmpfiles/*
robots.txt
.htaccess
.gitignore

!cache/cacheconfig
!cache/compiledtemplates
!cache/translations
!cache/userinfo
!cron/log
!var/autoloads
!var/tmpfiles
!.gitignore