body {
	background:none repeat scroll 0 0 #f9f9f9;
}

#header {
	background: #42454e;
	border-top: 2px solid #6cc3a0;
}

.navbar {
	background:0;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	box-shadow:0 0 0 transparent;
	border:0 none;
	padding:0;
	margin:10px 0
}

.navbar .navbar-brand {
	font-weight:bold;
	text-transform:uppercase;
	margin-right:5px;
	color:#fff;
	font-family:'Montserrat',Helvetica,sans-serif;
	height:auto;
	padding:5px 0px 0px 0px;
}

.navbar .navbar-brand:hover {
	color:#6cc3a0
}

.navbar .navbar-nav {
	position:relative;
	top:7px
}

.navbar .navbar-nav>li a {
	text-transform:lowercase;
	font-size:14px;
	font-family:'Montserrat',Helvetica,sans-serif;
	color:#fff;
	padding-top:8px;
	padding-bottom:8px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px
}

.navbar .navbar-nav>li a .caret {
	opacity:.4
}

.navbar .navbar-nav>li a:hover,
.navbar .navbar-nav>li a .active {
	background:#595c66;
	color:#fff
}

.navbar .navbar-nav>li a:hover .caret,
.navbar .navbar-nav>li a .active .caret {
	opacity:.8
}

.navbar .navbar-nav>li>.dropdown-menu {
	background:#595c66;
	border:0;
	border-top-right-radius:3px;
	box-shadow:0 0 0 transparent;
	padding-right:5px;
}

.navbar .navbar-nav>li>.dropdown-menu li a {
	font-size:13px;
	border-radius:0
}

.navbar .navbar-nav>li>.dropdown-menu li a:hover {
	background:#6cc3a0
}

.navbar .navbar-nav.navbar-right li {
	margin-left:5px
}

.navbar .navbar-nav.navbar-right li a {
	padding-top:8px;
	padding-bottom:8px
} 

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:hover,
.navbar .navbar-nav>.open>a:focus {
	background:#595c66;
	color:#fff;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0
}

.box {
	background:#fff;
	border:1px solid #ddd;
	padding:20px;
	border-radius:3px;
	margin-bottom:25px
}

.btn.btn-flat-warning {
	background:#f89406;
	color:#fff
}

.btn.btn-flat-warning:hover,
.btn.btn-flat-warning.active {
	background:#dd7c07;
	color:#fff
}

.btn.btn-flat-info {
	background:#2f96b4;
	color:#fff
}

.btn.btn-flat-info:hover,
.btn.btn-flat-info.active {
	background:#227e93;
	color:#fff
}    

#footer-bottom {
	background:#383a42;
	color:#fff;
	padding:20px
}

#footer-bottom p {
	margin-bottom:0;
	color:#f8f8f8
}

#footer {
	background:#42454e;
	color:#fff;
	padding:40px 0;
	border-top:4px solid #6cc3a0
}

#footer a {
	color:#7f8c8d
}

#footer a:hover {
	color:#fff
}

#footer h5 {
	margin-bottom:20px
}

#footer .newsletter button {
	width:100%;
	padding:10px 0
}

.property-list {
	padding:40px 0 20px
}

.property-list.full-listing {
	padding:0
}

.property-list.full-listing .the-title {
	margin-bottom:15px
}

.grid-layout {
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}

.grid-layout .prop-item {
	display:block;
	margin-bottom:20px
}

.grid-layout .prop-item .thumbnail {
	text-align:center;
	padding:0;
	color:#42454e;
	text-shadow:0 0 0 transparent;
	overflow:hidden
}

.grid-layout .prop-item .thumbnail .thumbnail-img {
	width:100%;
	height:200px;
	overflow:hidden
}

.grid-layout .prop-item .thumbnail a {
	color:#42454e
}

.grid-layout .prop-item .thumbnail a.img-link {
	overflow:hidden;
	width:100%;
	display:block
}

.grid-layout .prop-item .thumbnail a:hover h3 {
	color:#6cc3a0
}

.grid-layout .prop-item .thumbnail .prop-price {
	font-size:22px;
	font-weight:700;
	color:#e74c3c
}

.grid-layout .prop-item .thumbnail .prop-price span {
	color:#7f8c8d;
	font-size:13px
}

.grid-layout .prop-item .thumbnail img {
	border-bottom:4px solid #6cc3a0;
	height:200px
}

.grid-layout .prop-item .thumbnail h3 {
	margin:10px 0 2px;
	color:#42454e;
	font-size:20px;
	height:25px;
	overflow:hidden
}

.grid-layout .prop-item .thumbnail span.prop-address {
	font-style:italic;
	font-family:'Karla',sans-serif;
	display:block;
	margin-bottom:10px
}

.grid-layout .prop-item .thumbnail .feature-list {
	text-align:center;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #eee
}

.grid-layout .prop-item .thumbnail .feature-list li {
	display:inline-block;
	border-left:2px solid #eee;
	margin:0;
	padding:0 8px;
	line-height:13px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:700
}

.grid-layout .prop-item .thumbnail .feature-list li:first-child {
	border-left:0;
	padding-right:8px
}

.grid-layout .prop-item .thumbnail .link-group {
	margin-bottom:15px
}

.grid-layout .prop-item .thumbnail .link-group a {
	font-size:12px;
	color:#fff
}

.grid-layout .prop-item .thumbnail .link-group a .fa {
	margin-right:4px
}

.btn.btn-flat-success {
	background:#51a351;
	color:#fff
}

.btn.btn-flat-success:hover,
.btn.btn-flat-success.active {
	background:#428942;
	color:#fff
}

.title-bar {
	 margin-top: 20px;
	 margin-bottom: 20px;
}

.title-bar h1 {
	color: #42454e;
    font-size: 22px;
    margin: 0;
  }

.title-bar.single {
	margin-top:10px;	
}

.title-bar.single h1 {
	color: #42454e;
    font-size: 28px;
    margin: 0;
    margin-bottom:10px;
}

#sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-aside .panel-title {
	text-transform:uppercase;
	font-size:14px
}

.panel-aside .panel-heading {
	background:#fcfcfc;
	padding:16px 15px 14px;
}

.panel-aside .panel-body {
	padding:20px;
}

ul.list-group-link li a {
    display: block;
    padding: 10px 15px;
    color:#e74c3c;
}

.the-title {
    margin-bottom: 30px;
}

.uppercase {
	text-transform:uppercase;	
}

.text-centered {
	text-align:center;
}

.the-title h2 {
    font-size: 18px;
}

.the-title h1, 
.the-title h2, 
.the-title h3, 
.the-title h4, 
.the-title h5, 
.the-title h6 {
    color: #34495e;
    font-size: 22px;
    margin: 0 0 5px;
}

.box-padding {
    padding: 40px 0 20px;
}

.property-list.full-listing {
    padding: 0;
}

.list-layout {
    transition: all 0.3s ease-in-out 0s;
}

.filter-bar {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.list-layout .prop-item {
    display: block;
    margin-bottom: 20px;
    width: 100% !important;
}

.list-layout .prop-item .thumbnail {
    color: #42454e;
    max-height: 170px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-shadow: 0 0 0 transparent;
}
.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.list-layout .prop-item .thumbnail .thumbnail-body {
    margin-left: 31%;
    position: relative;
    width: 69%;
}

.list-layout .prop-item .thumbnail {
    color: #42454e;
    text-align: left;
    text-shadow: 0 0 0 transparent;
}

.thumbnail {
    line-height: 1.42857;
}

.list-layout .prop-item .thumbnail .thumbnail-img {
    border-right: 4px solid #6cc3a0;
    background:#f1f1f1;
    float: left;
    height: 170px;
    overflow: hidden;
    width: 30%;
}

.thumbscrubber {
    display: block;
    position: relative;
}

.thumbscrubber .ts-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.list-layout .prop-item .thumbnail img {
    border-bottom: 0 none;
    width: auto;
}
.thumbscrubber.smooth .ts-inner > * {
    transition: all 0.2s ease 0s;
}
.thumbscrubber .ts-inner .ts-currslide {
    opacity: 1;
}
.thumbscrubber .ts-inner > * {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.list-layout .prop-item .thumbnail a {
    color: #42454e;
}

.thumbnail .caption {
    color: #333;
    padding: 9px;
}

.list-layout .prop-item .thumbnail h3 {
    color: #42454e;
    font-size: 20px;
    margin: 5px 0 2px;
    width: 85%;
}

.list-layout .prop-item .thumbnail span.prop-address {
    display: block;
    font-family: "Karla",sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

.list-layout .prop-item .thumbnail .prop-price {
    color: #e74c3c;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 10px;
}

.list-layout .prop-item .thumbnail .prop-price span {
    color: #7f8c8d;
    font-size: 13px;
}

.list-layout .prop-item .thumbnail .feature-list {
    border-bottom: 1px solid #eee;
    margin-bottom: 14px;
    margin-left: -9px;
    padding-bottom: 15px;
    padding-left: 12px;
    text-align: left;
}

.list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}

.list-layout .prop-item .thumbnail .feature-list li:first-child {
    border-left: 0 none;
    padding-right: 8px;
}
.list-layout .prop-item .thumbnail .feature-list li {
    border-left: 2px solid #eee;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin: 0;
    padding: 0 8px;
    text-transform: uppercase;
}

.list-layout .prop-item .thumbnail .link-group a {
    color: #fff;
    font-size: 12px;
}
.list-layout .prop-item .thumbnail a {
    color: #42454e;
}
.btn.btn-flat-success {
    background: none repeat scroll 0 0 #51a351;
    color: #fff;
}
.btn {
    border: 0 none;
    border-radius: 3px;
    display: inline-block;
    font-family: "Montserrat",Helvetica,sans-serif;
    font-size: 14px;
    padding: 6px 12px;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.filter-bar ul.filter-option li a {
    color: #42454e;
    font-size: 17px;
    margin-left: 10px;
    position: relative;
    top: 3px;
}

.pagination {
	padding-top:0px;
	margin-top:0px;
}

.property-list-single {
    margin-bottom: 20px;
    padding: 0;
}

.panel_head2 {
	background-color: #fafafa;
	border-color: #dedede;
}

.panel_head2 h3{
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	padding:10px 15px;
	margin:0px;
}

.nopadding {
	padding:0px;
}

.p20 {
	padding:20px;
}

.mr10 {
	margin-right:10px	
}

#aside-property-search .aside form button {
    margin-bottom: -10px;
    margin-top: 5px;
    padding: 10px 0;
    width: 100%;
}

.btn.btn-flat-green {
    background: none repeat scroll 0 0 #6cc3a0;
    color: #fff;
}

.event-address {
	padding-bottom:10px;
	padding-top:15px;
}

#sidebar.single-sidebar {
	margin-top:0px;
}

.radio label, .checkbox label {
	display: inline;
	font-weight: normal;
	cursor: pointer;
}

#aside-property-search .checkbox-group .checkbox {
	margin-left: 10px;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
	padding-top: 5px;
}

.top-categories {
	padding-bottom:20px;
}

.top-category-item {
	min-height:180px;
	background:#ccc;
	display:block;
	line-height:180px;
	vertical-align:middle;
	width:100%;
	 background-size:cover;
}

.top-category-item span{
	background:#fff;
	padding:10px 15px;
	color:#444;
	font-size:16px;
	text-transform:uppercase;
}

.form-signin-block {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 30px auto 0;
    padding: 30px;
    text-align: center;
    max-width: 400px;
    margin-bottom:40px;
}

.form-signin-block h1{
	font-size:30px;
	margin-top:0px;
}

.alert ul {
	padding-left:10px;
	margin-left:0px;
}

.mb-0 {
	margin-bottom:0px;	
}

.profile-tab {
	list-style:none;
	border-bottom:1px solid #ccc;
	display:block;
	padding:0px;
	margin:0px;
	height:30px;
}

.profile-tab li {
	float:Left;
	display:block;
}

.profile-tab li a,
#myTab li a{
	padding:13px 30px 11px;
	border:1px solid #ccc;
	border-bottom:0px;
	background:#f1f1f1;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}


.profile-tab li.active a,
#myTab li.active a{
	padding:13px 30px 12px 30px;
	background:#fff;
	position:relative;
}

#myTab li.active a,
#myTab li a {
	padding:7px 30px 7px;
}

.br {
	border:1px solid #ccc;
}
