.ml-0 {
	margin-left:0px;
}

.alert {
	margin-left:0
}

.alert ul {
	padding-left:0px;
}

.fs36{
	font-size:36px;
}

.pagination {
	margin-top:0px;
	padding:0px;
}

.dataTables_info {
	padding-top:7px;
}

.required {
	color:#dd1313;
}

.pt-15 {
	padding-top:15px;
}

h4.list-title {
	color:#2c9ab7;
	margin:0px;
	font-size:18px;
}

.fs-12 {
	font-size:12px;
}

table.valignm td.valign {
	vertical-align:middle;
}